<div class="attendances">

    <mat-card class="section-card">
        <mat-card-header>
            <mat-card-title>Filtros de busqueda</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <input matInput placeholder="Documento de Identidad" [(ngModel)]="query.vNumeroDocumento">
                <mat-icon matSuffix>user</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="dtFechaInicio" placeholder="Fecha de Inicio" [(ngModel)]="query.dtFechaInicio">
                <mat-datepicker-toggle matSuffix [for]="dtFechaInicio"></mat-datepicker-toggle>
                <mat-datepicker #dtFechaInicio></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="dtFechaFin" placeholder="Fecha de Fin" [(ngModel)]="query.dtFechaFin">
                <mat-datepicker-toggle matSuffix [for]="dtFechaFin"></mat-datepicker-toggle>
                <mat-datepicker #dtFechaFin></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Sucursal" [(ngModel)]="query.vCodigoArea">
                    <mat-option *ngFor="let area of areas" value="area.vCodigoArea">{{area.vNombreArea}}</mat-option>
                </mat-select>
            </mat-form-field>
            
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="findByQuery()" color="primary">BUSCAR</button>
        </mat-card-actions>
    </mat-card>

    <!--<div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>-->
    <mat-card class="section-card mat-elevation-z8" >

        <mat-card-content>

            <table mat-table [dataSource]="attendanceDataSource">

                <ng-container matColumnDef="vNombreArea">
                    <mat-header-cell *matHeaderCellDef>Área</mat-header-cell>
                    <mat-cell *matCellDef="let attendance">{{attendance.vNombreArea}}</mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="vNombreTrabajador">
                    <mat-header-cell *matHeaderCellDef>Trabajador</mat-header-cell>
                    <mat-cell *matCellDef="let attendance">{{attendance.vNombreTrabajador}}</mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="vNumeroDocumento">
                    <mat-header-cell *matHeaderCellDef>Documento</mat-header-cell>
                    <mat-cell *matCellDef="let attendance">{{attendance.vNumeroDocumento}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="dtFechaAsistencia">
                    <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
                    <mat-cell *matCellDef="let attendance">{{attendance.dtFechaAsistencia}}</mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="dtHoraIngreso">
                    <mat-header-cell *matHeaderCellDef>Ingreso</mat-header-cell>
                    <mat-cell *matCellDef="let attendance">{{attendance.dtHoraIngreso}}</mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="dtHoraSalidaAlmuerzo">
                    <mat-header-cell *matHeaderCellDef>Salida Almuerzo</mat-header-cell>
                    <mat-cell *matCellDef="let attendance">{{attendance.dtHoraSalidaAlmuerzo}}</mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="dtHoraRetornoAlmuerzo">
                    <mat-header-cell *matHeaderCellDef>Retorno Almuerzo</mat-header-cell>
                    <mat-cell *matCellDef="let attendance">{{attendance.dtHoraRetornoAlmuerzo}}</mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="dtHoraSalida">
                    <mat-header-cell *matHeaderCellDef>Salida</mat-header-cell>
                    <mat-cell *matCellDef="let attendance">{{attendance.dtHoraSalida}}</mat-cell>
                </ng-container>
                
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            
            </table>
            
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100, 500]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
    </mat-card>

</div>
